<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">🔥 Dapps</h2>
        <p class="subtitle--light" style="padding-top: 10%;">💸 Buy $swapburn at <a href="https://uniswap.info" target="_blank">uniswap.info</a> <br><br>🎣 Earn more at <a href="https://t.me/swapburn" target="_blank">t.me/swapburn</a> <br><br>🗳️ Govern DAO at <a href="https://dao.swapburn.live" target="_blank">dao.swapburn.live</a> <br><br>🦄 Uniswap at <a href="https://uniswap.info" target="_blank">uniswap.info</a>
      </header>
    </div>
  </div>
</section>
